* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a !important; }

html, body {
  font-size: 16px;
  overflow-x: hidden; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white; }

body::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5; }

body::-webkit-scrollbar-thumb {
  background-color: #acacac; }

h1, h2, h5 {
  font-weight: 700; }

h1 {
  font-size: 6.7rem;
  letter-spacing: 15px;
  line-height: 1; }
  @media (max-width: 768px) {
    h1 {
      font-size: 4.5rem; } }

h2 {
  font-size: 4.7rem;
  letter-spacing: 7px;
  line-height: 1; }
  @media (max-width: 768px) {
    h2 {
      font-size: 3.25rem; } }

h3, h4 {
  font-family: "EB Garamond", serif; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 2.5rem; }
  @media (max-width: 768px) {
    h5 {
      font-size: 2rem; } }

p {
  font-size: 1.1rem;
  line-height: 1.5; }

.btn {
  background-color: #1a1a1a;
  color: #f9f9f9 !important;
  font-size: 0.9rem;
  letter-spacing: 2px;
  border-radius: 0;
  border: 2px solid #1a1a1a;
  padding: 0.75rem 3rem;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer !important; }
  .btn:hover {
    color: #acacac !important; }
  .btn::before {
    content: url("../../images/herb.png");
    position: absolute;
    top: 5px;
    left: 50%;
    -webkit-transform: translate(-55%, -100%) scale(0.7);
    -ms-transform: translate(-55%, -100%) scale(0.7);
    transform: translate(-55%, -100%) scale(0.7);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }

.brown {
  color: #a95121 !important; }

.green {
  color: #7ab08d !important; }

.line-streak {
  padding: 0 20px;
  display: inline-block;
  position: relative; }
  .line-streak::after {
    content: '';
    width: 100%;
    height: 1px;
    z-index: -1;
    background-color: #606060;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.container-fluid {
  margin: 0 !important;
  padding: 0 !important; }

img {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

img {
  width: 100% !important;
  z-index: -1; }

.navbar-brand {
  display: block;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.8rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  position: absolute; }
  @media (max-width: 992px) {
    .navbar-brand {
      font-size: 1.9rem;
      line-height: 1.5rem;
      position: relative; } }
  .navbar-brand .serif {
    font-weight: 400;
    font-family: "EB Garamond", serif;
    font-size: 1.7rem;
    font-style: italic; }
    @media (max-width: 768px) {
      .navbar-brand .serif {
        font-size: 1.4rem; } }

.nav-container {
  position: fixed;
  z-index: 100; }
  .nav-container .navbar {
    background-color: #f9f9f9;
    position: relative; }
    .nav-container .navbar .navbar-toggler {
      border: 0; }
    .nav-container .navbar .navbar-nav {
      width: 100vw;
      display: inline-block; }
      @media (max-width: 992px) {
        .nav-container .navbar .navbar-nav {
          margin-top: 10px;
          display: block !important; } }
      .nav-container .navbar .navbar-nav .nav-split-brand {
        margin-right: calc(101px + 50px) !important; }
        @media (max-width: 1600px) {
          .nav-container .navbar .navbar-nav .nav-split-brand {
            margin-right: calc(101px + 40px) !important; } }
        @media (max-width: 1200px) {
          .nav-container .navbar .navbar-nav .nav-split-brand {
            margin-right: calc(101px + 24px) !important; } }
        @media (max-width: 992px) {
          .nav-container .navbar .navbar-nav .nav-split-brand {
            margin: 0 !important;
            display: block !important; } }
      .nav-container .navbar .navbar-nav .nav-item {
        display: inline-block;
        position: relative;
        left: 45px;
        z-index: 2; }
        @media (max-width: 1600px) {
          .nav-container .navbar .navbar-nav .nav-item {
            left: 30px;
            padding: 0 20px; } }
        @media (max-width: 1200px) {
          .nav-container .navbar .navbar-nav .nav-item {
            left: 18px;
            padding: 0 12px; } }
        @media (max-width: 992px) {
          .nav-container .navbar .navbar-nav .nav-item {
            display: block !important;
            text-align: center;
            left: 0 !important;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            padding: 0;
            left: -15px !important; } }
        .nav-container .navbar .navbar-nav .nav-item.active a::before {
          content: url(../../images/flower.png);
          z-index: -1;
          -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        .nav-container .navbar .navbar-nav .nav-item a {
          color: #acacac !important;
          letter-spacing: 2px;
          font-size: 0.9rem;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s;
          padding: 20px 50px; }
          @media (max-width: 1600px) {
            .nav-container .navbar .navbar-nav .nav-item a {
              padding: 20px 26px; } }
          @media (max-width: 1200px) {
            .nav-container .navbar .navbar-nav .nav-item a {
              padding: 20px 14px; } }
          @media (max-width: 992px) {
            .nav-container .navbar .navbar-nav .nav-item a {
              padding: 15px 15px;
              display: inline-block; } }
          .nav-container .navbar .navbar-nav .nav-item a:hover {
            color: #1a1a1a !important; }

#shop {
  background-color: #f1f1f1;
  padding-top: 109px; }

#our-story {
  background-color: #f9f9f9; }
  #our-story .flower-bed:first-child {
    width: 100%;
    background-color: #f1f1f1;
    position: absolute;
    z-index: 10; }
    @media (max-width: 768px) {
      #our-story .flower-bed:first-child {
        width: 800px !important; } }
  #our-story .flower-bed-two {
    -webkit-filter: brightness(0.95);
    filter: brightness(0.95);
    margin-top: -100px; }
    @media (max-width: 992px) {
      #our-story .flower-bed-two {
        margin-top: 50px; } }
  #our-story .side-images img {
    position: absolute;
    z-index: 15;
    width: 20vw !important; }
    @media (max-width: 992px) {
      #our-story .side-images img {
        display: none; } }
  #our-story .side-images .girl-pouring-tea {
    width: 20vw !important;
    left: 0;
    top: calc(32vw - 1800px); }
  #our-story .side-images .loose-tea-leaves {
    right: 0;
    top: -550px; }
  #our-story .text {
    top: 50px;
    z-index: 11; }
    #our-story .text .tea-maker {
      position: relative; }
    #our-story .text h1 {
      position: relative;
      left: 7px;
      margin-top: -70px; }
      @media (max-width: 768px) {
        #our-story .text h1 {
          margin-top: -47px; } }
    #our-story .text h3 {
      background-color: #f9f9f9; }
      #our-story .text h3::after {
        width: 350px; }
        @media (max-width: 1200px) {
          #our-story .text h3::after {
            width: 300px !important; } }
    #our-story .text h5 {
      position: relative; }
      #our-story .text h5::after {
        content: url(../../images/our-story/flower.png);
        z-index: -1;
        -webkit-transform: scale(0.7) translate(-30%, -20%) !important;
        -ms-transform: scale(0.7) translate(-30%, -20%) !important;
        transform: scale(0.7) translate(-30%, -20%) !important;
        -webkit-transform-origin: -50% -50%;
        -ms-transform-origin: -50% -50%;
        transform-origin: -50% -50%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    #our-story .text p {
      position: relative;
      left: 20px; }
      @media (max-width: 1200px) {
        #our-story .text p {
          left: 0; } }

#health-benefits {
  position: relative;
  padding-top: 100px;
  padding-bottom: 0px;
  background-color: #f9f9f9; }
  #health-benefits .flower-bed {
    position: relative;
    z-index: 10;
    background-color: #f1f1f1;
    top: -120px;
    min-width: 100%; }
    @media (max-width: 1200px) {
      #health-benefits .flower-bed {
        width: 1200px !important; } }
    @media (max-width: 768px) {
      #health-benefits .flower-bed {
        top: -50px;
        width: 100% !important; } }
  #health-benefits .flower-bed-two {
    position: absolute;
    bottom: 0;
    z-index: 20; }
    @media (max-width: 992px) {
      #health-benefits .flower-bed-two {
        position: relative;
        margin-top: 25px; } }
  #health-benefits .tea img {
    position: absolute;
    z-index: 10; }
    #health-benefits .tea img:first-child {
      width: 19vw !important;
      top: 1100px;
      right: 0; }
      @media (max-width: 992px) {
        #health-benefits .tea img:first-child {
          display: none; } }
    #health-benefits .tea img:nth-child(2) {
      width: 40vw !important;
      top: 1750px; }
      @media (max-width: 1200px) {
        #health-benefits .tea img:nth-child(2) {
          top: 1850px; } }
      @media (max-width: 992px) {
        #health-benefits .tea img:nth-child(2) {
          position: relative;
          top: 0;
          width: 100vw !important; } }
  #health-benefits h2 {
    position: relative;
    margin-top: -240px;
    z-index: 11; }
    @media (max-width: 768px) {
      #health-benefits h2 {
        margin-top: -85px; } }
  #health-benefits h3 {
    background-color: #f9f9f9; }
    #health-benefits h3::after {
      width: 350px !important; }
      @media (max-width: 1200px) {
        #health-benefits h3::after {
          width: 300px !important; } }
  #health-benefits .sources {
    position: relative;
    z-index: 11; }
  #health-benefits .sources {
    top: -450px;
    position: relative; }
    @media (max-width: 992px) {
      #health-benefits .sources {
        top: 25px; } }
  #health-benefits .text {
    top: -450px;
    position: relative; }
    @media (max-width: 1200px) {
      #health-benefits .text {
        top: -350px; } }
    @media (max-width: 992px) {
      #health-benefits .text {
        top: 25px; } }
    #health-benefits .text > div {
      position: relative; }
      @media (max-width: 992px) {
        #health-benefits .text > div {
          left: 0 !important; } }
      #health-benefits .text > div.one {
        left: 75%; }
        #health-benefits .text > div.one h5::before {
          content: '1';
          left: -55px !important;
          font-size: 6.7rem;
          color: #7ab08d;
          position: absolute;
          top: -62px;
          left: -65px;
          z-index: 11; }
          @media (max-width: 768px) {
            #health-benefits .text > div.one h5::before {
              font-size: 3rem;
              top: 0;
              left: 50% !important;
              -webkit-transform: translate(-50%, -100%);
              -ms-transform: translate(-50%, -100%);
              transform: translate(-50%, -100%); } }
      #health-benefits .text > div.two {
        left: 0; }
        #health-benefits .text > div.two h5::before {
          content: '2';
          font-size: 6.7rem;
          color: #7ab08d;
          position: absolute;
          top: -62px;
          left: -65px;
          z-index: 11; }
          @media (max-width: 768px) {
            #health-benefits .text > div.two h5::before {
              font-size: 3rem;
              top: 0;
              left: 50% !important;
              -webkit-transform: translate(-50%, -100%);
              -ms-transform: translate(-50%, -100%);
              transform: translate(-50%, -100%); } }
      #health-benefits .text > div.three {
        left: 40%; }
        #health-benefits .text > div.three h5::before {
          content: '3';
          font-size: 6.7rem;
          color: #7ab08d;
          position: absolute;
          top: -62px;
          left: -65px;
          z-index: 11; }
          @media (max-width: 768px) {
            #health-benefits .text > div.three h5::before {
              font-size: 3rem;
              top: 0;
              left: 50% !important;
              -webkit-transform: translate(-50%, -100%);
              -ms-transform: translate(-50%, -100%);
              transform: translate(-50%, -100%); } }
      #health-benefits .text > div.four {
        left: 0; }
        #health-benefits .text > div.four h5::before {
          content: '4';
          font-size: 6.7rem;
          color: #7ab08d;
          position: absolute;
          top: -62px;
          left: -65px;
          z-index: 11; }
          @media (max-width: 768px) {
            #health-benefits .text > div.four h5::before {
              font-size: 3rem;
              top: 0;
              left: 50% !important;
              -webkit-transform: translate(-50%, -100%);
              -ms-transform: translate(-50%, -100%);
              transform: translate(-50%, -100%); } }
      #health-benefits .text > div.five {
        left: 40%; }
        #health-benefits .text > div.five h5::before {
          content: '5';
          font-size: 6.7rem;
          color: #7ab08d;
          position: absolute;
          top: -62px;
          left: -65px;
          z-index: 11; }
          @media (max-width: 768px) {
            #health-benefits .text > div.five h5::before {
              font-size: 3rem;
              top: 0;
              left: 50% !important;
              -webkit-transform: translate(-50%, -100%);
              -ms-transform: translate(-50%, -100%);
              transform: translate(-50%, -100%); } }

#contact {
  padding: 200px 0 14vw 0;
  background-color: #f1f1f1;
  position: relative; }
  @media (max-width: 1600px) {
    #contact {
      padding: 200px 0 200px 0; } }
  @media (max-width: 992px) {
    #contact {
      padding: 140px 0 150px 0; } }
  #contact h2::before {
    content: url(../../images/contact/leaf.png);
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media (max-width: 768px) {
      #contact h2::before {
        content: url(../../images/contact/leaf-small.png); } }
  #contact h2, #contact h4, #contact form {
    position: relative;
    z-index: 2; }
  #contact .white-paint {
    position: absolute;
    z-index: 1;
    top: 215px;
    height: 550px; }
    @media (max-width: 768px) {
      #contact .white-paint {
        height: 675px;
        top: 135px; } }
  #contact .flower-bed {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 1300px;
    min-width: 100%;
    -webkit-filter: brightness(1.3);
    filter: brightness(1.3); }
    @media (max-width: 768px) {
      #contact .flower-bed {
        width: 1000px; } }
  #contact form label {
    color: #1a1a1a !important;
    font-size: 0.8rem;
    font-weight: 700; }
  #contact form input, #contact form textarea {
    border-radius: 0;
    background-color: #f1f1f1;
    border-bottom: 1px solid #1a1a1a;
    border-right: 0;
    border-left: 0;
    border-top: 0; }
  #contact form textarea {
    resize: none; }

footer {
  background-color: #1a1a1a; }
  footer .navbar-brand, footer .serif {
    color: #f9f9f9 !important;
    position: relative;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  footer p {
    color: #f9f9f9 !important;
    font-size: 0.8rem; }
