//////////
// CART //
//////////
.cart {
.cart-btn {
	position: fixed;
	top: 109px;
	transform: translateY(-50%);
	right: 2vw;
	background-color: $black;
	border-radius: 50px;
	z-index: 101;
	cursor: pointer;
	transition: 0.2s;
	@include mQ($lg) {
		right: 20px;
	}
	@include mQ($sm) {
		top: auto;
		bottom: -5px;
	}
	&:hover {
		transform: translateY(-50%) scale(1.1);
	}
	p {
		position: absolute;
		font-size: 0.6rem;
		background-color: $whiter;
		padding: 1px 5px;
		font-weight: bold;
		border: 2px solid $black;
		border-radius: 50px;
		bottom: -15px;
		left: 3px;
		
	}
	i {
		color: $lightGrey !important;
		font-size: 1.5rem;
		@include mQ($sm) {
			font-size: 1.3rem;
		}
	}
}
}
.popup {
	height: 100vh;
	background-color: white;
	position: fixed;
	opacity: 0;
	transition: 0.3s;
	top: 0;
	right: 0;
	z-index: 200;
	box-shadow: -10px 0 20px rgba(0,0,0,0.1);
	width: 500px;
	display: none;
	overflow-y: scroll;
	padding-bottom: 125px;
	@include mQ($xs) {
		width: 100vw;
	}
	a {
		text-decoration: none;
	}
	.item {
		position: relative;
		i {
			color: $darkerGrey !important;
			padding: 10px;
			font-size: 1rem !important;
			transition: 0.2s;
			&:hover {
				color: $black !important;
			}
		}
	}
	.checkout-container {
		width: 500px;
		position: fixed;
		bottom: 0;
		height: 125px;
		transition: 0.3s;
		background-color: white;
		right: 0;
		z-index: 10;
		@include mQ($xs) {
			width: 100vw;
		}
	}
	.checkout {
		background-color: $black;
		border: 2px solid $black;
		@include centerX;
		bottom: 40px;
		width: calc(100% - 80px);
		cursor: pointer;
		&::before {
			content: '' !important;
		}
		&:hover {
			color: $darkGrey !important;
		}
	}
	h6 {
		letter-spacing: 1.5px;
	}
	i {
		cursor: pointer;
		&.fa-times {
			position: absolute;
			top: 0px;
			right: 0px;
			padding: 20px;
			font-size: 1.5rem;
		}
	}
	.empty {
		@include centerer;
		h6 {
			letter-spacing: 0 !important;
		}
		p {
			font-family: $serifFont;
		}
	}
}
.disable-checkout {
	display: none;
}
.popupbg {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	display: none;
	transition: 0.3s;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.popupIn {
	display: block;
	animation: fadeIn 0.3s forwards;
}
.popupOut {
	opacity: 1;
	display: block;
	animation: fadeOut 0.2s forwards;
}

//cart end

//////////
// SHOP //
//////////
#shop {
    background-color: $lightGrey;
    padding-top: 109px;
	padding-bottom: 100px;
	@include mQ($sm) {
		padding-top: 68px;
	}
	.tea-cups {
		width: 100%;
		filter: saturate(0) brightness(1.1);
	}
	h1 {
		margin-top: -75px;
		left: 5px;
		position: relative;
		z-index: 1;
		@include mQ($sm) {
			margin-top: -35px;
		}
	}
}
.listings {
	width: 100%;
	position: relative;
	padding: 0 1%;
	& > a > div {
		width: 21%;
		cursor: pointer;
		overflow: hidden;
		position: relative;
		background-color: white;
		display: inline-block;
		margin: 1.86%;
		box-shadow: 0 .25px .25px rgba(0,0,0,0.1);
		@include mQ($md) {
			margin: 1.82%;
		}
		@include mQ($sm) {
			width: 29%;
			margin: 1.95%;
		}
		@include mQ($xs) {
			width: 45%;
			margin: 1.95%;
		}
		&:hover > img {
			transform: scale(1);
			filter: saturate(0.95);
		}
		img {
			transform: scale(0.95);
			transition: 0.3s ease-out;
			filter: saturate(0.8);
			width: 75% !important;
		}
		.label {
			@include centerer;
			position: relative;
			h6 {
				position: relative;
			}
			.cost {
				h5 {
//					font-weight: 400 !important;
				}
				p {
					font-size: 0.7rem;
					margin-top: -10px;
				}
			}
		}
	}
}
.category {
	z-index: 2;
	position: absolute;
	left: -65px;
	top: 25px;
	font-size: 0.8rem;
	color: $white !important;
	font-weight: 700;
	letter-spacing: 1px;
	transform: rotate(-45deg);
	width: 200px;
	font-family: $textFont !important;
	&.new {
		background-color: $green;
	}
	&.hot {
		background-color: $brown;
	}
}
//shop end

//////////////
// PRODUCTS //
//////////////
#products {
	background-color: white;
	padding-top: 108px;
	@include mQ($sm) {
		padding-top: 68px;
	}
	h6 {
		text-transform: uppercase;
	}
	.cat {
		font-family: $serifFont;
	}
	.options {
		& > div {
			position: relative;
			background-color: $lightGrey;
			cursor: pointer;
			transition: 0.2s;
			border: 3px solid white;
			overflow: hidden;
			&:hover {
				background-color: $white;
			}
			.category {
				font-size: 0.75rem;
				left: -70px;
				top: 20px;
			}
			p {
				font-family: $serifFont;
			}
			i {
				transition: 0.2s;
				position: absolute;
				bottom: 10px;
				right: 10px;
			}
			.amount {
				text-transform: uppercase;
			}
		}
	}
	.suggestions {
		margin-top: 110px !important;
		background-color: $lightGrey;
		h5 {
			margin-top: -75px;
		}
	}
}