.container {
}
a {
    transition: 0.3s;
}
.jumbotron {
    height: 50vh;
    background: url("images/four.jpg") no-repeat center top;
}
.card img {
    height: 250px;
    object-fit: cover;
}
.fa {
    width: 30px;
    height: 30px;
    padding-top: 7px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
}
.fa:hover {
    text-decoration: none;
    color: rgba(255,255,255,.5) !important;
    border: 1px solid rgba(255,255,255,.5);
}