.container {
    background-color: #B799C6;
}
.row {
    background-color: #F2DF8A;
}
[class^="col-"]:first-child {
    background-color: #E08B88;
}
[class^="col-"]:last-child {
    background-color: #A4D6D2;
}